@model WebProgramlamaOdev.Models.TrainerAvailability

@{
    ViewData["Title"] = "Müsaitlik Detayları";
}

<h1>Müsaitlik Detayları</h1>

<div>
    <h4>Eğitmen Müsaitlik Saati</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Trainer)
        </dt>
        <dd class = "col-sm-9">
            @(Model.Trainer?.FullName)
        </dd>

        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>

        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-9">
            @Model.StartTime.ToString(@"hh\:mm")
        </dd>

        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-9">
            @Model.EndTime.ToString(@"hh\:mm")
        </dd>

        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-9">
            @if (Model.IsActive)
            {
                    <span class="badge bg-success">Evet</span>
            }
            else
            {
                    <span class="badge bg-danger">Hayır</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AvailabilityId" class="btn btn-warning">Düzenle</a> |
    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
</div>